/*
  anthor:刘军
  date:2018-4-25
*/

*{
    margin: 0;
    padding: 0;
}
html{
    /* 手机浏览器的内核 -webkit- 
       在移动端，基本上都是webkit，针对不同的内核，使用样式兼容  */
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body,html{
    height: 100%;
    /* 手机不同厂商，做自己的一些体验，这是有损统一体验的，CSS希望所有的手机都一样，
       一张白纸，将厂商的欲望抹平，CSS reset 
       -webkit-tap-highlight-color  不规范的属性
       按上去的高亮就透明，干掉了这种特征。*/
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}
body{
    line-height: 1.6;
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.page,body{
    background: #f8f8f8;
}
/* 页面框架容器 */
.container{
    overflow: hidden;    
}
/* 移动端单页 一页显示 */
.container,.page{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.page{
    /* 滚动条  内容滑动，外面盒子不动 */
    overflow-y: auto;
    /* 将滚动感知touch，体验更好 */
    -webkit-overflow-scrolling: touch;
    z-index:1;
    background: #ffffff;
}
.page__hd{
    padding:50px;
    text-align: center;
}
.page__hd img{
    width: 80px; 
}
.page__bd{
    padding: 5px;
    text-align: center;
}
#money{
    font-weight: 600;
    font-size:30px;
}
.page__footer{
    /* padding: 130px 60px; */
    position: relative;
    top: 150px;
    text-align: center;
}
.page__footer a{
    width: 150px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}